In [1]:
!pip install opencv-python

Requirement already satisfied: opencv-python in c:\users\aniruddha\anaconda3\lib\site-packages (4.6.0.66)

WARNING: Ignoring invalid distribution -pencv-python (c:\users\aniruddha\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\aniruddha\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\aniruddha\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\aniruddha\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\aniruddha\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\aniruddha\anaconda3\lib\site-packages)

Requirement already satisfied: numpy>=1.17.3 in c:\users\aniruddha\anaconda3\lib\site-packages (from opencv-python) (1.20.3)

In [2]:
import cv2
import pandas as pd

# import dataset

In [3]:
data=pd.read_csv('C:\\Users\\ANIRUDDHA\\Documents\\data_science\\colors.csv')
data

       air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
0     air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
1    air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
2         alabama_crimson        Alabama Crimson  #a32638  163   38   56
3              alice_blue             Alice Blue  #f0f8ff  240  248  255
4        alizarin_crimson       Alizarin Crimson  #e32636  227   38   54
..                    ...                    ...      ...  ...  ...  ...
859         yellow_orange          Yellow Orange  #ffae42  255  174   66
860        yellow_process       Yellow (Process)  #ffef00  255  239    0
861            yellow_ryb           Yellow (Ryb)  #fefe33  254  254   51
862                zaffre                 Zaffre  #0014a8    0   20  168
863     zinnwaldite_brown      Zinnwaldite Brown  #2c1608   44   22    8

[864 rows x 6 columns]

# Image path declare

In [4]:
img_path=r'C:\\Users\\ANIRUDDHA\\Documents\\data_science\\colorpic.jpg'

In [5]:
img=cv2.imread(img_path)

# declare the global variable

In [6]:
clicked=False
r=g=b=x_pos=y_pos=0

# reading the csv file with pandas and giving name of each columns

In [7]:
index=['color','color_name','hex','R','G','B']

In [8]:
csv=pd.read_csv('C:\\Users\\ANIRUDDHA\\Documents\\data_science\\colors.csv',names=index,header=None)
csv

                    color             color_name      hex    R    G    B
0      air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
1     air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
2    air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
3         alabama_crimson        Alabama Crimson  #a32638  163   38   56
4              alice_blue             Alice Blue  #f0f8ff  240  248  255
..                    ...                    ...      ...  ...  ...  ...
860         yellow_orange          Yellow Orange  #ffae42  255  174   66
861        yellow_process       Yellow (Process)  #ffef00  255  239    0
862            yellow_ryb           Yellow (Ryb)  #fefe33  254  254   51
863                zaffre                 Zaffre  #0014a8    0   20  168
864     zinnwaldite_brown      Zinnwaldite Brown  #2c1608   44   22    8

[865 rows x 6 columns]

# function to calculate minimum distance from all colors and get the most matching color

In [9]:
def get_color(R,G,B):
    minimum=10000
    for i in range(len(csv)):
        d=abs(R-int(csv.loc[i,'R']))+abs(G-int(csv.loc[i,'G']))+abs(B-int(csv.loc[i,'B']))
        if d<=minimum:
            minimum=d
            cname=csv.loc[i,'color_name']
    return cname

# function to get x,y coordinates of mouse double click

In [10]:
def function(event,x,y,flag,param):
    if event==cv2.EVENT_LBUTTONDBLCLK:
        global b,g,r,x_pos,y_pos,clicked
        clicked=True
        x_pos=x
        y_pos=y
        b,g,r=img[y,x]
        b=int(b)
        g=int(g)
        r=int(r)

In [ ]:
cv2.namedWindow('image')
cv2.setMouseCallback('image', function)

while True:

    cv2.imshow("image", img)
    if clicked:

        # cv2.rectangle(image, start point, endpoint, color, thickness)-1 fills entire rectangle
        cv2.rectangle(img, (20, 20), (750, 60), (b, g, r), -1)

        # Creating text string to display( Color name and RGB values )
        text = get_color(r, g, b) + ' R=' + str(r) + ' G=' + str(g) + ' B=' + str(b)

        # cv2.putText(img,text,start,font(0-7),fontScale,color,thickness,lineType )
        cv2.putText(img, text, (50, 50), 2, 0.8, (255, 255, 255), 2, cv2.LINE_AA)

        # For very light colours we will display text in black colour
        if r + g + b >= 600:
            cv2.putText(img, text, (50, 50), 2, 0.8, (0, 0, 0), 2, cv2.LINE_AA)

        clicked = False

    # Break the loop when user hits 'esc' key
    if cv2.waitKey(20) & 0xFF == 27:
        break

cv2.destroyAllWindows()